
<!-- Contact.html -->
    <div class="jumbotron text-center">
        <h1>Nous contacter</h1>
    </div>

    <div class="container">
        <div class="col-md-6">
            <address>
                Téléphone :<a href=""> 01.45.40.50.93</a><br/>
                Adresse : 25 Rue des plantes, 75014<br/>
                Paris
            </address>
            <address>
                <a href="mailto:herrmann.jonathan77@gmail.com">Contacter le support technique</a><br />
            </address>
        </div>
        <div class="col-md-6">
            <img src="https://lh5.googleusercontent.com/proxy/VwPXhdAnGyzo9WQtvbXNrPO8lXtwa1QTGAr_tu_KLwvncUtdhBY3JLgwiHuF1JD0l8-2SR7vR9MyK-Ie3k5jMeym3vGV1hX2Cnfw8iWkMnlbXADGZHUHKXk6_otH_NNpgomoNgkiUpFFezep-uIy4jDpbA=w455-h256" class="img-responsive" alt="Responsive image">
        </div>
    </div>